@model StudentManagement.WebApp.Models.StudentCreate
@{
    ViewBag.Title = "Create Student Page";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<div id="back-btn">
    <a asp-controller="Home" asp-action="Index" role="button" class="btn btn-primary">&lt;&lt; Back to home</a>
</div>
<div class="m-auto" id="wrap-form">
    <form asp-action="Create" method="post" role="form">
        <div class="row mb-3">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="FirstName" class="form-control" />
            </div>
            <span asp-validation-for="FirstName" class="text-danger"></span>

        </div>
        <div class="row mb-3">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="LastName" class="form-control" />
            </div>
            <span asp-validation-for="LastName" class="text-danger"></span>

        </div>

        <div class="row mb-3">
            <label asp-for="Gender" class="col-md-2 control-label"></label>

            <div class="btn-group col-md-5 radio-toggle" role="group" aria-label="Basic radio toggle button group">
                <input asp-for="Gender" value="Male" type="radio" class="btn-check" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Male</label>

                <input asp-for="Gender" value="Female" type="radio" class="btn-check" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Female</label>
            </div>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Fees" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Fees" class="form-control" />
            </div>
            <span asp-validation-for="Fees" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Age" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Age" class="form-control"/>
            </div>
            <span asp-validation-for="Age" class="text-danger"></span>

        </div>
        <div class="row mb-3">
            <label asp-for="Course" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <select asp-for="Course" asp-items="@ViewBag.courses" class="form-control">
                </select>
            </div>
            <span asp-validation-for="Course" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Section" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <select asp-for="Section" asp-items="@ViewBag.sections" class="form-control"></select>
            </div>
            <span asp-validation-for="Section" class="text-danger"></span>
        </div>

        <div class="row mb-3">
            <label asp-for="DateOfAdmission" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="DateOfAdmission" class="form-control" />
            </div>
            <span asp-validation-for="DateOfAdmission" class="text-danger"></span>
        </div>

        <div class="row mb-3 mt-3" id="btn-wrap">
            <div id="cancel-btn" class="col-md-2">
                <a asp-action="Index" asp-controller="Home" role="button" class="btn btn-primary">Cancel</a>
            </div>
            <div id="add-btn" class="col-md-5">
                <input type="submit" class="btn btn-primary" value="Add" />
            </div>
        </div>
    </form>
</div>
