#back-btn {
    margin-left: 70%;
    margin-bottom: 8px;
}

#cancel-btn {
    text-align: center;
}

#add-btn {
    text-align: end;
}

label {
    text-align: center;
}

.radio-toggle input {
    display: none;
}

    .radio-toggle input:checked + label {
        background-color: dodgerblue;
        color: white;
    }

.radio-toggle .btn:first-of-type {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

